<?xml version="1.0" encoding="UTF-8"?>

<!--
    四大链接参数 url,username,password
    mapperLocations
    typeAliasesPackage
    dao层接口位置
-->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
    <!--自动扫描@Component等注解-->
    <context:component-scan base-package="org.hust"/>
    <!--mvc注解驱动@RequsetMapping @ResponseBody @RequestPara等-->
    <mvc:annotation-driven/>
    <!--映射另外资源-->
    <mvc:resources mapping="/js/**" location="/js/"/>
    <mvc:resources mapping="/layui/**" location="/layui/"/>
    <!--配置视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"
          p:prefix="/" p:suffix=".jsp">
    </bean>
    <!--    配置四大链接参数-->
    <bean id="dataSource"
          class="org.apache.commons.dbcp2.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url"
                  value="jdbc:mysql://localhost:3306/testdb?useUnicode=true&amp;autoReconnect=true&amp;characterEncoding=utf-8"/>
        <property name="username" value="root"/>
        <property name="password" value="Stellaris.p0p"/>
        <!--        线程池配置-->
        <!-- 初始化连接大小 -->
        <property name="initialSize" value="0"/>
        <!-- 连接池最大数量 -->
        <property name="maxTotal" value="20"/>
        <!-- 连接池最大空闲 -->
        <property name="maxIdle" value="20"/>
        <!-- 连接池最小空闲 -->
        <property name="minIdle" value="1"/>
        <!-- 获取连接最大等待时间单位ms -->
        <property name="maxWaitMillis" value="60000"/>
        <!--空闲时是否进行验证，检查对象是否有效，默认为false  -->
        <property name="testWhileIdle" value="true"/>
        <!--失效检查线程运行时间间隔，如果小于等于0，不会启动检查线程，默认-1  -->
        <property name="timeBetweenEvictionRunsMillis" value="3600000"/>
        <!--大于0 ，进行连接空闲时间判断，或为0，对空闲的连接不进行验证；默认30分钟  -->
        <property name="minEvictableIdleTimeMillis" value="1800000"/>
        <!--取得对象时是否进行验证，检查对象是否有效，默认为false  -->
        <property name="testOnBorrow" value="true"/>
    </bean>

    <!--sqlSessionFactory的bean-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--        前一个dataSource是内置属性,第二个与上面一致即可-->
        <property name="dataSource" ref="dataSource"/>
        <!--配置实体类的别名-->
        <property name="typeAliasesPackage" value="org.hust.bean"/>
        <!--启动扫描mapper文件-->
        <property name="mapperLocations" value="classpath*:org/hust/dao/*.xml"/>
    </bean>

    <!--    dao层接口类的位置-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <property name="basePackage" value="org.hust.dao"/>
    </bean>

    <!--    事务管理器作用于那个数据源-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--    支持事务注解-->
    <tx:annotation-driven transaction-manager="transactionManager"/>
</beans>